__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
.env
*.sqlite3

node_modules/
.next/
out/

.DS_Store
*.log
.ruff_cache/

data_pipeline/datasets/petrochemical/cwru/*.mat
data_pipeline/datasets/petrochemical/tep/*.dat
data_pipeline/seed_data/**/*.sql
data_pipeline/seed_data/**/*.dump
